<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hallym.club.clubmember.dao.ClubMemberDAO">
    
    
    
<!--     
	private int club_id;
	private String student_id;
	private String name;
	private String major;
	private String grade;
	private String gender_cd;
	private String staff_cd; // 회장,부회장
	private String phone_no;
	private String address;
	private String email;
	private String join_dt;
	private String birth_dt;
	private String join_cd;
	private String input_id;
	private String input_ip;
	private String input_date;
	private String update_id;
	private String update_ip;
	private String update_date;
	private String plan;
	private String hope;
	private int row_count; -->
    <resultMap id="ClubMemberVOResult" type="hallym.club.clubmember.vo.ClubMemberVO">
		 <result property="club_id" column="CLUB_ID" />
		 <result property="student_id" column="STUDENT_ID" />
		 <result property="name" column="NM" />
		 <result property="major" column="MAJOR" />
		 <result property="grade" column="GRADE" />
		 <result property="gender_cd" column="GENDER_CD" />
		 <result property="staff_cd" column="STAFF_CD" />
		 <result property="phone_no" column="PHONE_NO" />
		 <result property="join_dt" column="JOIN_DT" />
		 <result property="join_cd" column="JOIN_CD" />
		 <result property="plan" column="PLAN" />
	</resultMap>
	
   	<insert id="addClubMember" parameterType="map">
	INSERT INTO 
		CLUB_MEMBER(
			CLUB_ID, 
			STUDENT_ID, 
			STAFF_CD, 
			JOIN_DT, 
			JOIN_CD, 
			NM,
			MAJOR, 
			GRADE, 
			GENDER_CD,
			PHONE_NO,
			EMAIL
			) 
		VALUES
		(
			(SELECT NVL(MAX(CLUB_ID),0) FROM CLUB),
			#{id},
			#{staff_cd},
			#{join_dt},
			'008001',
			#{name},
			#{major},
			#{grade},
			#{gender_cd},
			#{phone_no},
			#{email}
		)
   	</insert>
   	
   	<select id="checkJoinClub" parameterType="map" resultType="string">
   	    
   	    SELECT 
   	    	JOIN_CD 
   	    FROM 
   	    	CLUB_MEMBER
   	    where 
   	    	CLUB_ID= #{club_id} AND
   	    	STUDENT_ID= #{id}  
   	    	
   	</select>
   	
   	<insert id="joinApplicationClub" parameterType="map">
	INSERT INTO
		club_member(
			CLUB_ID,
			STUDENT_ID,
			NM,
			MAJOR,
			GRADE,
			GENDER_CD,
			PHONE_NO,
			EMAIL,
			JOIN_CD,
			PLAN,
			HOPE,
			STAFF_CD,
			JOIN_DT)
		VALUES(
			#{club_id},
			#{id},
			#{name},
			#{major},
			#{grade},
			#{gender_cd},
			#{phone_no},
			#{email},
			'008003',
			#{plan},
			#{hope},
			'004004',
			SYSDATE)
   	    
   	</insert>
   	<select id="getClubPresident" parameterType="map" resultMap="ClubMemberVOResult">
   	    
   	    SELECT
   	    	*
   	    FROM
   	    	CLUB_MEMBER
   	    WHERE
   	    	CLUB_ID = #{club_id} AND
   	    	JOIN_CD = '008001' AND
   	    	STAFF_CD = '004001'
   	</select>
   	
   	<select id="getClubMember" parameterType="map" resultMap="ClubMemberVOResult">
   	    
   	    SELECT
   	    	*
   	    FROM
   	    	CLUB_MEMBER
   	    WHERE
   	    	CLUB_ID = #{club_ID} AND
   	    	JOIN_CD = #{join_cd}
   	    	<if test="opt == 1">
		   	AND STUDENT_ID = #{id}
   	    	</if>
   	    	<if test="opt2 == 1">
   	    	AND STAFF_CD = #{staff_cd}
   	    	</if>
   	</select>
   	
   	<!-- 회원 수 -->
   	<select id="getClubMemberCnt" parameterType="map" resultType="int">
   	     SELECT
			COUNT(STUDENT_ID)
		FROM
			CLUB_MEMBER
		WHERE
			CLUB_ID = #{club_id}  
			<if test="opt==1">
			    AND JOIN_CD = #{join_cd}
			</if>
			
   	</select>
   	
</mapper>