<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hallym.club.clubmember.dao.ClubMemberDAO">
    
    
    
<!--     
	private int club_id;
	private String student_id;
	private String name;
	private String major;
	private String grade;
	private String gender_cd;
	private String staff_cd; // 회장,부회장
	private String phone_no;
	private String address;
	private String email;
	private String join_dt;
	private String birth_dt;
	private String join_cd;
	private String input_id;
	private String input_ip;
	private String input_date;
	private String update_id;
	private String update_ip;
	private String update_date;
	private String plan;
	private String hope;
	private int row_count; -->
    <resultMap id="ClubMemberVOResult" type="hallym.club.clubmember.vo.ClubMemberVO">
		 <result property="club_id" column="CLUB_ID" />
		 <result property="student_id" column="STUDENT_ID" />
		 <result property="name" column="NM" />
		 <result property="major" column="MAJOR" />
		 <result property="grade" column="GRADE" />
		 <result property="gender_cd" column="GENDER_CD" />
		 <result property="staff_cd" column="STAFF_CD" />
		 <result property="phone_no" column="PHONE_NO" />
		 <result property="join_dt" column="JOIN_DT" />
		 <result property="join_cd" column="JOIN_CD" />
		 <result property="plan" column="PLAN" />
	</resultMap>
	
   	<insert id="addClubMember" parameterType="map">
	INSERT INTO 
		CLUB_MEMBER(
			CLUB_ID, 
			STUDENT_ID, 
			STAFF_CD, 
			JOIN_DT, 
			JOIN_CD, 
			NM,
			MAJOR, 
			GRADE, 
			GENDER_CD,
			PHONE_NO,
			EMAIL
			) 
		VALUES
		(
			(SELECT NVL(MAX(CLUB_ID),0) FROM CLUB),
			#{id},
			#{staff_cd},
			#{join_dt},
			'008001', 
			#{name},
			#{major},
			#{grade},
			#{gender_cd},
			#{phone_no},
			#{email}
		)
   	</insert>
   	
   	<update id="updateMyInfo" parameterType="map">
   	    
   	    UPDATE
   	    	CLUB_MEMBER
   	    SET
   	    	MAJOR = #{major},
   	    	GENDER_CD = #{gender_cd},
   	    	PHONE_NO = #{phone_no},
   	    	EMAIL = #{email}
   	    WHERE
   	    	STUDENT_ID = #{id}

   	</update>
   	
   	<!-- <update id="updateMyInfo" parameterType="map">
   	    
   	    UPDATE
   	    	CLUB_MEMBER
   	    SET
   	    	MAJOR = #{major},
   	    	GENDER_CD = #{gender_cd},
   	    	PHONE_NO = #{phone_no},
   	    	EMAIL = #{email},
   	    	PLAN = #{plan},
   	    	HOPE = #{hope}
   	    WHERE
   	    	//CLUB_ID = #{club_id} AND 
   	    	STUDENT_ID = #{id}

   	</update> -->
   	
   	<update id="updateClubMember" parameterType="map">
		UPDATE 
			CLUB_MEMBER
		SET 
			<if test="if==1">
			JOIN_DT = #{join_dt}, 
			</if>
			JOIN_CD = '008001',
			STAFF_CD = #{staff_cd} 
		WHERE 
			CLUB_ID = #{club_id} AND 
			STUDENT_ID = #{id}
   	    
   	</update>
   	
   	<select id="checkJoinClub" parameterType="map" resultType="string">
   	    
   	    SELECT 
   	    	JOIN_CD 
   	    FROM 
   	    	CLUB_MEMBER
   	    where 
   	    	CLUB_ID= #{club_id} AND
   	    	STUDENT_ID= #{id}  
   	    	
   	</select>
   	
   	<insert id="insertClubMember" parameterType="map">
	INSERT INTO
		club_member(
			CLUB_ID,
			STUDENT_ID,
			NM,
			MAJOR,
			GRADE,
			GENDER_CD,
			PHONE_NO,
			EMAIL,
			JOIN_CD,
			STAFF_CD,
			JOIN_DT)
		VALUES(
			#{club_id},
			#{id},
			#{name},
			#{major},
			#{grade},
			#{gender_cd},
			#{phone_no},
			#{email},
			#{join_cd},
			#{staff_cd},
			#{join_dt}
			)
   	    
   	</insert>
   	
   	<insert id="joinApplicationClub" parameterType="map">
	INSERT INTO
		club_member(
			CLUB_ID,
			STUDENT_ID,
			NM,
			MAJOR,
			GRADE,
			GENDER_CD,
			PHONE_NO,
			EMAIL,
			JOIN_CD,
			PLAN,
			HOPE,
			STAFF_CD,
			JOIN_DT)
		VALUES(
			#{club_id},
			#{id},
			#{name},
			#{major},
			#{grade},
			#{gender_cd},
			#{phone_no},
			#{email},
			'008003',
			#{plan},
			#{hope},
			'004004',
			#{join_dt}
			)
   	    
   	</insert>
   	
   	<select id="getClubPresident" parameterType="map" resultMap="ClubMemberVOResult">
   	    
   	    SELECT
   	    	*
   	    FROM
   	    	CLUB_MEMBER
   	    WHERE
   	    	CLUB_ID = #{club_id} AND
   	    	JOIN_CD = '008001' AND
   	    	STAFF_CD = '004001'
   	</select>
   	
   	<select id="getMyInfo" parameterType="map" resultMap="ClubMemberVOResult">
   	    SELECT
   	    	*
   	    FROM
   	    	CLUB_MEMBER
   	    WHERE
		    STUDENT_ID = #{id}
   	</select>
   	
   	<select id="getClubMember" parameterType="map" resultMap="ClubMemberVOResult">
   	    SELECT
   	    	*
   	    FROM
   	    	CLUB_MEMBER
   	    WHERE
   	    	CLUB_ID = #{club_id} AND
   	    	JOIN_CD = #{join_cd}
   	    	<if test="opt == 1">
		   	AND STUDENT_ID = #{id}
   	    	</if>
   	    	<if test="opt2 == 1">
   	    	AND STAFF_CD = #{staff_cd}
   	    	</if>
   	</select>
   	
   	<select id="getAllClubMember" parameterType="map" resultMap="ClubMemberVOResult">
		SELECT 
			M.NM, 
			M.STUDENT_ID, 
			M.GRADE, 
			M.GENDER_CD, 
			M.JOIN_DT,
			M.PHONE_NO,
			S.SO_NM AS STAFF_CD, 
			M.MAJOR, 
			M.PHONE_NO 
		FROM 
			CLUB_MEMBER M, 
			SO_CD S
		WHERE
			M.CLUB_ID = #{club_id} AND 
			M.JOIN_CD = '008001' AND
			M.STAFF_CD = S.SO_CD
   	    
   	</select>
   	
   	
   	<select id="getStaffCD" parameterType="map" resultType="string">
   	    
   	    SELECT
   	    	STAFF_CD
   	    FROM
   	    	CLUB_MEMBER
   	    WHERE
   	    	CLUB_ID = #{club_id} AND
		   	STUDENT_ID = #{id}
   	</select>
   	
   	<select id="getJoinCD" parameterType="map" resultType="string">
   	    SELECT 
   	    	JOIN_CD
   	    FROM
   	    	CLUB_MEMBER
   	    WHERE
   	    	CLUB_ID = #{club_id} AND
   	    	STUDENT_ID = #{id}
   	    
   	</select>
   	
   	<!-- 회원 수 -->
   	<select id="getClubMemberCnt" parameterType="map" resultType="int">
   	     SELECT
			COUNT(STUDENT_ID)
		FROM
			CLUB_MEMBER
		WHERE
			CLUB_ID = #{club_id}  
			<if test="opt==1">
			    AND JOIN_CD = #{join_cd}
			</if>
			
   	</select>
   	
   	<select id="getClubMemberList" parameterType="map" resultMap="ClubMemberVOResult">
   	    SELECT
			*
		FROM 
			(
				SELECT 
					ROW_NUMBER() OVER 
						(ORDER BY STUDENT_ID DESC)
						RNUM, CLUB_MEMBER.*
				FROM 
					CLUB_MEMBER
				WHERE 
					CLUB_ID = #{club_id} AND 
					JOIN_CD = #{join_cd} AND
					<choose>
					    <when test="select == 1">
						STUDENT_ID LIKE '%' || #{cdn} || '%'
					    </when>
					    <when test="select == 2">
						NM LIKE '%' || #{cdn} || '%'
					    </when>
					    <when test="select == 3">
						MAJOR LIKE '%' || #{cdn} || '%'
					    </when>
					</choose>
			)
		WHERE 
			RNUM BETWEEN #{startNum} AND #{endNum} ORDER BY RNUM ASC
   	    
   	</select>
   	
   	<select id="getMemberListCnt" parameterType="map" resultType="int">
	    SELECT
			COUNT(STUDENT_ID)
		FROM
			CLUB_MEMBER
		WHERE
			CLUB_ID = #{club_id} AND 
			JOIN_CD = #{join_cd} AND
			<choose>
			    <when test="select == 1">
				STUDENT_ID LIKE '%' || #{cdn} || '%'
			    </when>
			    <when test="select == 2">
				NM LIKE '%' || #{cdn} || '%'
			    </when>
			    <when test="select == 3">
				MAJOR LIKE '%' || #{cdn} || '%'
			    </when>
			</choose>
	</select>
   	
   	<select id="getTotalPageCnt" parameterType="map" resultType="int">
	    SELECT
			distinct CEIL(
				(
					SELECT
						NVL(COUNT(STUDENT_ID), 0)
					FROM (
						SELECT STUDENT_ID
						FROM CLUB_MEMBER
						WHERE
							CLUB_ID = #{club_id} AND 
							JOIN_CD = #{join_cd} AND
							<choose>
							    <when test="select == 1">
								STUDENT_ID LIKE '%' || #{cdn} || '%'
							    </when>
							    <when test="select == 2">
								NM LIKE '%' || #{cdn} || '%'
							    </when>
							    <when test="select == 3">
								MAJOR LIKE '%' || #{cdn} || '%'
							    </when>
							</choose>
					)
				)
			/ #{limit} ) as page
		FROM
			CLUB_MEMBER
	    
	    
	</select>
   	
   	<delete id="leaveClub" parameterType="map">
   	    DELETE
   	    FROM
   	    	CLUB_MEMBER
   	    WHERE
   	    	STUDENT_ID = #{id} AND
   	    	CLUB_ID = #{club_id}
   	</delete>
   	
   	<delete id="deleteClubMember" parameterType="map">
   	    DELETE
   	    FROM
   	    	CLUB_MEMBER
   	    WHERE
   	    	CLUB_ID = #{club_id}
   	</delete>
   	
</mapper>